<div class="positioning-title">
<h2>Tasks</h2>
  <div>
    <input matInput placeholder="search" [(ngModel)] = "searchTerm" (ngModelChange) = "search()"/>

  </div>
<div>

  <input placeholder="add task" #task />
  <button class="button-style" mat-raised-button (click)="addTask(task.value); task.value=''">Add</button>
</div>

<ul class="tasks">
  <li *ngFor="let task of tasks"
      [class.selected]="task === selectedTask"
      (click)="onSelect(task)">
    <span class="badge">{{task.id}}</span> {{task.name}}
    <div>
      <button class="button-delete" title="delete task" mat-mini-fab (click)="deleteTask(task)">X</button>
    </div>

  </li>
</ul>
  <app-task-detail [task]="selectedTask"></app-task-detail>

  <button class="button-style" mat-raised-button (click)="goBack()">Back</button>
</div>
