<div class="positioning-title">
<h2>Departments</h2>
  <div>
    <input matInput placeholder="search" [(ngModel)] = "searchTerm" (ngModelChange) = "search()"/>
  </div>
<div *ngIf="searchTerm">
<ul class="departments">
  <li *ngFor="let department of departments"
      [class.selected]="department === selectedDep"
      (click)="onSelect(department)">
    <span class="badge">{{department.id}}</span> {{department.name}}
    <button class="mini-fab-buttons" mat-mini-fab  (click)="deleteDepartment(department.name)">Delete</button>
  </li>
</ul>
</div>
<div *ngIf="selectedDep">

  <h2>{{selectedDep.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedDep.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedDep.name" placeholder="name"/>
      <button class="button-style" mat-raised-button (click)="addDepartment(selectedDep)">Add</button>
    </label>
  </div>
  <label>employees: {{selectedDep.employee}}</label>
</div>
<button class="button-style" mat-raised-button (click)="goBack()">Back</button>

</div>
