<div class="positioning-title">
<h2>Departments</h2>
  <div>
    <input matInput placeholder="search" [(ngModel)] = "searchTerm" (ngModelChange) = "search()"/>

  </div>
  <div>
    <input placeholder="add department" #dep />
    <button class="button-style" mat-raised-button (click)="addDepartment(dep.value); dep.value=''">Add</button>
  </div>
<ul class="departments">
  <li *ngFor="let department of departments"
      [class.selected]="department === selectedDep"
      (click)="onSelect(department)">
    <span class="badge">{{department.id}}</span> {{department.name}}
    <div>
      <button class="button-delete" mat-mini-fab  (click)="deleteDepartment(department)">X</button>
    </div>

  </li>
</ul>

<app-department-detail [department]="selectedDep"></app-department-detail>
<button class="button-style" mat-raised-button (click)="goBack()">Back</button>

</div>
