<div *ngIf="employee">

  <h2>{{employee.firstName| uppercase}} Details</h2>
  <div class="display-details"><span>id: </span>{{employee.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="employee.name" placeholder="name"/>
    </label>

  </div>
  <div class="display-details">
    <label>department: {{employee.department}}</label>
  </div>
  <div>
    <label>DOB: {{employee.birthDate}}</label>
  </div>
  <button class="button-style" mat-raised-button (click)="save()">Save</button>
</div>
