
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.employees {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 20em;
}
.employees li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.employees li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.employees li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.employees .text {
  position: relative;
  top: -3px;
}
.employees .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.button-style {
  margin-right: 8px;
  margin-left: 8px;
  background-color: #EEEEEE;
  font-style: normal;
  font-size: large;



}
.positioning-title {
  margin-top: 50px;
  margin-left: 600px;
  margin-right: 600px;
  position: center;
  flex-direction: row;
}
.mini-fab-buttons {
  background-color: black;
  font-style: normal;
  color: #EEEEEE;
  height: 35px;
  left: 25px;
  position: center;

}
.display-details {
  background-color: #DDDDDD;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  padding-bottom: 5px;
  padding-top: 5px;
}
.button-delete {
  position: relative;
  left: 290px;
  top: -40px;
  background-color: gray !important;
  color: white;
}
