<div class="positioning-title">
<h2>Employees</h2>
  <div>
    <input matInput placeholder="search" [(ngModel)] = "searchTerm" (ngModelChange) = "search()"/>

  </div>
  <div>

    <input placeholder="add employee first name" #employee />
    <input placeholder="add employee last name"  #emp />
    <button class="button-style" mat-raised-button (click)="addEmployee(employee.value,emp.value,190); employee.value=''; emp.value=''">Add</button>
  </div>


<ul class="employees">
  <li *ngFor="let employee of employees"
      [class.selected]="employee === selectedEmployee"
      (click)="onSelect(employee)">
    <span class="badge">{{employee.id}}</span> {{employee.first_name}} {{employee.last_name}}
    <div>
      <button class="button-delete" mat-mini-fab (click)="deleteEmployee(employee)">X</button>
    </div>

  </li>
</ul>

<app-employee-detail [employee]="selectedEmployee"></app-employee-detail>

<button class="button-style" mat-raised-button (click)="goBack()">Back</button>
</div>
