/* You can add global styles to this file, and also import other style files */
*{
    font-family: Cambria, Georgia;
}
body
{
    background-color:  #e0e0e0;

}
h1
{
    color: #041838;
    font-size: 200%;
}
h2
{
    color: #041838;
    font-size: 150%;
}
ol{
    background-color: #d7d7dd ; /*gives a back color to the list area*/
    width: 175px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* center contents of website*/
.centerbody
{
    max-width: 65%;
    margin: auto;
    text-align: center;
}
