<div *ngIf="task">

  <h2>{{task.name | uppercase}} Details</h2>
  <div class="display-details"><span>id: </span>{{task.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="task.name" placeholder="name" #name/>
      <button class="button-style" mat-raised-button (click)="save(name.value)">Save</button>
    </label>
  </div>
  <div class="display-details" >
    <label>department: {{task.department_id}}</label>
  </div>
  <div class="display-details">
    <label>employees: {{task.employees }}</label>
  </div>
  <div class="display-details">
    <label>deadline: {{task.due_date}}</label>
  </div>

</div>


